<strong>Olá, pessoal</strong>
<p>Tivemos um novo contato, confira os detalhes abaixo!</p>
<p>
  <strong>Cliente: </strong> {{user}} <br>
  <strong>Data/hora:</strong> {{date}} <br>
  <strong>Com a seguinte mensagem:</strong>
  <small>{{message}}</small>
</p>